body{

	height: auto;
	width: 1920px

	
}

header {
	background: #111111 0% 0% no-repeat padding-box;
	width: 1920px


}

.caixa {
	position: relative; 
	width: 940px;
	margin: 0 auto;
	clear: all;
}

.caixa h1 img{
	position: relative;
	right: 200px;

}

nav {
	position: absolute; 
	top: 25px;
	right: 0;

}

nav li {
	display: inline;
	margin: 0 0 0 55px; 
	color: white;


}




main {
	background: #111111 0% 0% no-repeat padding-box;
	padding: 20px 0px
	
}

.titulo-principal {
	text-align: left; 
	font: normal normal bold 40px/57px Product Sans;
	padding-top: 45px
	
}

#sub-titulo{
	text-align: left;
	margin-top: 10px;
	font: normal normal normal 38px/51px Product Sans;
	letter-spacing: 0px;
	color: #8D8D8D;
	opacity: 1;

}

.principal{
	
	padding: 100px 50px ;
	background: #FFFFFF;
	height: 588px;
	width: 1200px;
	margin: 0 auto;
	border-radius: 30px;
}


.principal p{
	margin: 95px 0 0 0;
	text-align: left;
	font: normal normal normal 18px/45px Product Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;

}

.maquina{	
    float: right; 
    margin: 0 20px 200px 0;
}

.start-register {
	width: 30%;
	padding: 15px 0;
	margin: 30px 0 0 50px;
	background: #F46632 0% 0% no-repeat padding-box;
	color: white;
	font: normal normal bold 22px/30px Product Sans;
	border: none; 
	border-radius: 16px; /
	opacity: 1;
}




.about-us{
	padding: 100px 50px ;
	height: 588px;
	width: 1200px;
	background: #FAFAFA 0% 0% no-repeat padding-box;
	margin: 0 auto;
	opacity: 1;
}

.productFactory{
	float: left;
	padding: 0 125px 0 170px;
		
}

.titulo2{
	text-align: left;
	padding-top: 125px;
	font: normal normal bold 32px/43px Product Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	
}

.redes-sociais{
	list-style-type: none;
	position: absolute;
	left: 1080px;
	top: 1120px
}

.about-us p{
	margin: 200px 115px 0 125px;
	text-align: left;
	font: normal normal normal 18px/45px Product Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;

}





.courseExperience{
	padding: 100px 50px ;
	height: 588px;
	width: 1200px;
	background: #FAFAFA 0% 0% no-repeat padding-box;
	margin: 0 auto;
	opacity: 1;
}

.titulo3{
	text-align: center;
	font: normal normal bold 32px/43px Product Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.buttonbar{

	margin: 60px 0px 0 300px;

}

.buttonbar:after {
	
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;

    
}

.buttonbar > button {
    font: normal normal normal 15px/21px Product Sans;
    float: left;
    padding: 15px 30px;
    border: 1px solid #000000;
	border-radius: 16px;
	opacity: 1;
	background: #FFFFFF 0% 0% no-repeat padding-box;
}

.buttonbar button:hover{
	background: black;
	color: white;
}

.pfwhite{
	float: left;
	padding: 90px 125px 0 170px;

}

.courseExperience p{

	margin: 95px 115px 0 125px;
	text-align: left;
	font: normal normal normal 16px/43px Product Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}




.sessions{
	padding: 100px 50px ;
	width: 1200px;
	background: #FAFAFA 0% 0% no-repeat padding-box;
	margin: 0 auto;
	opacity: 1;


}

.titulo4{
	text-align: center;
	font: normal normal bold 32px/43px Product Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}


.evento {
	margin: 80px 0 50px 0;
	list-style-type: none;
	align-items: center;
	display: flex;
	justify-content: center;


}

.evento li:first-child{
	 font-weight: bold; 
	 font-size: 19px;

}

.evento li{
	text-align: right;
	font: normal normal normal 19px/26px Product Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	background: #DCDCDC;
	padding: 15px 75px;

}

.palestrante{
	float: left;
	padding: 10px 10px 0 100px; 
	
}

.palestrantes{
	float: left;
	padding: 10px 10px 0 20px;

}

.sessions p{
	margin: 15px 115px 0 370px;
	text-align: left;
	font: normal normal normal 16px/43px Product Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.grid-template-columns {
	grid-template-columns: 200px 200px;
}



.masters{
	padding: 150px 50px ;
	width: 1200px;
	background: #FAFAFA 0% 0% no-repeat padding-box;
	margin: 0 auto;
	opacity: 1;

}


.titulo4{
	text-align: center;
	font: normal normal bold 32px/43px Product Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.grid{
	margin-top: 140px;
	display: grid;
	grid-template-columns: 230px 230px 230px 230px 230px;
	grid-template-rows: 300px; 
	

}

.item{
	padding: 0 0 0 50px;
	
}

.nome{
	text-align: center;
	font: normal normal bold 18px/35px Product Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

